/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Volkhov&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Volkhov', serif;

}
/* global */
.container{
    max-width: 1160px;
    margin: auto;
    margin-bottom: 3rem;
}
/* header start */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    font-weight: 600;
    color: #212832;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-menu{
    cursor: pointer;
    margin: 0 6px;
    padding: 6px 15px;
}
.nav-menu:hover{
    text-decoration: underline;
}
/* hero section start */
.hero-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.hero-btn-play{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.hero-btn{
    background-color: #F1A501;
    padding: 10px 18px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
.orange-color{
    color: #DF6951;
    font-size: 20px;
    margin-left: 20px;
}
.fa-play-circle{
    font-size: 30px;
}
.intro-text h1{
    color: #181E4B;
    font-size: 84px;
    width: 545px;
    line-height: 89px;
    letter-spacing: -0.04em;
}
.intro-text p{
    width: 430px;
    margin-top: 20px;
}
.intro-img img{
    width: 100%;
}
/* categories section */
.categorie-section{
    text-align: center;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-top: 2rem;
}
.single-categorie{
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    width: 267px;
    height: 270px;
    cursor: pointer;
}
.single-categorie:hover{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}
.single-categorie img{
    width: 92px;
    height: 78px;
}
.single-categorie h3,p{
    margin-top: 10px;
}
/* destination section start */
.section-intro{
    text-align: center;
    margin-bottom: 50px;
}
.destinations{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.single-destination{
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 24px;
    margin: 0 10px;
    overflow: hidden;
    cursor: pointer;
}
.single-destination img{
    width: 100%;
}
.card-intro{
    padding: 0 10px 40px;
    display: flex;
    justify-content: space-between;
}
/* brand section */
.brands{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
.single-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    cursor: pointer;
}
/* subscribe section */
.subscribe-section{
    max-width: 1160px;
    margin: auto;
    text-align: center;
    background-color: #DFD7F9;
    padding: 60px 100px;
    color: #5E6282;
    border-radius: 20px;
}
.button-subs input{
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    margin-top: 10px;
}
.button-subs button{
    border: none;
    color: white;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
}
/* footer section */
.footers{
   display: flex;
   justify-content: space-evenly;
   cursor: pointer;
   margin-top: 50px;
}


